@page
<!DOCTYPE html>
<html>
<head>
    <title>Group123</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<!--LOGIN PAGE START-->
<!-- The Modal -->
<body>
    <div id="logindiv" class="modal">

        <!-- Modal Content -->
        <div class="modal-content animate" id="user">
            <div class="container">
                <input type="text" placeholder="Enter Username" name="username" id="username" required>
                <button type="button" id="login" onclick="login()">Login</button>
            </div>
        </div>
    </div>
    <!--LOGIN PAGE END-->
    <!--USER LIST START-->
    <div class="userlistdiv">
        <ul class="list-group list-group-horizontal" id="userlist">
        </ul>
    </div>
    <!--USER LIST END-->
    <!--DROPDOWN START-->
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Category
        </button>
        <div class="dropdown-menu">

        </div>
    </div>
    <!--DROPDOWN END-->
    <!--NEW CATEGORY CREATION BEGIN-->
    <div class="input-group">
        <input type="text" class="form-control" id="newcategorytext">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary" id="newgroupbutton" onclick="newGroup();">Create New Group</button>
        </span>
    </div>
    <!--NEW CATEGORY CREATION END-->
    <!--ITEM CREATION BEGIN-->
    <div class="input-group">
        <input type="text" class="form-control" id="newitemtext">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary" id="newitembutton" onclick="newItem();">New Item</button>
        </span>
    </div>
    <!--ITEM CREATION END-->

    <hr />

    <!--ITEMS BEGIN-->
    <div class="container" id="items">

        <!--ITEMS GRID BEGIN-->
        <div class="row">

        </div>
        <!--ITEMS GRID END-->

    </div>
    <!--ITEMS END-->
</body>
</html>